:root {
    --base: #010914;

    --branco: #ffffff;
    --dourado: #F2CB05;
    --texto-grande: 3rem;
    --texto-medio: 2rem;
    --texto-pequeno: 1rem;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-size: 100%;
    font: initial;
    vertical-align: baseline;
    transition: 0.6s;
}

body {
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 0% 4%;
    position: fixed;
    width: 100%;
    height: 60px;
    transition: 0.6s;
    z-index: 1;
}

.ativado {
    background-color: var(--base);
    border-bottom: var(--dourado) solid 1px;

}


.logo {
    width: 60px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}


nav {
    display: flex;
    align-items: center;
    transition: 0.6s;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 30px;
    color: var(--dourado);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #010108 0px 0px 2px;
    transition: 0.6s;
}

.nav-it a {
    color: var(--dourado);
}

nav ul li:hover {
    transform: scale(1.1);
    color: var(--branco);
}

.menu {
    display: none;
}


section {
    height: 100vh;
    padding: calc(15vh + 70px) 4%;

}

.inicio {
    
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: url("../img/inicio-banner.jpg") center;
    background-color: #010108;
    background-size: cover;
    background-repeat: no-repeat;
}

.inicio h2 {
    margin-bottom: 30px;
    font-size: var(--texto-grande);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: var(--branco);
}

.inicio h3 {
    margin-bottom: 30px;
    color: var(--dourado);
    font-size: large;
}

.inicio button {
    border: 2px solid var(--dourado);
    background-color: transparent;
    color: var(--dourado);
    padding: 20px;
    transition: 0.8s;
    margin-bottom: 20px;
}

.inicio button:hover {

    border-radius: 50px;
}

.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: 100%;

}



.sobre h2 {
    margin-bottom: 30px;
    font-size: var(--texto-grande);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.sobre p {
    font-size: 1.5rem;
}
.img-sobre {
    display: flex;
    align-items: center;
    justify-content: end;
    
}
.sobre img {
    width: 80%;
    height: 80%;
}


.servicos{
     background-color: var(--base);
     text-align: center;
     height: 100%;

}
.servicos h2{
    color: var(--dourado);
    margin-bottom: 4rem;
    font-size: var(--texto-grande);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    
}

.cards>li:nth-child(1):hover img{
    top: -90%;
}
.cards>li:nth-child(2):hover img{
    top: -90%;
}.cards>li:nth-child(3):hover img{
    top: -90%;
}
.cards>li:nth-child(3):hover .card-texto{
    margin-top: 10%;
}
.card{
    border: var(--dourado) solid 2px;
    border-radius: 5px;
    position: relative;
    min-height: 200px;
    min-height: 280px;
    background-color: var(--branco);

}


.card a{
    color: var(--branco);
}

.card-texto{
    padding: 0px 10%;
    transition: 0.6s;
    color: var(--base);

}
.card h3{
    margin-bottom: 20px;
}

.card img{
    width: 80%;
    height: 100%;
    margin-bottom: 10px;
    position: absolute;
    top: -20px;
    right: 10%;
    transition: 0.9s;
    box-shadow: var(--base) 1px 3px 8px;

}


@media (max-width: 600px) {

    header {
        background-color: var(--base);
    }


    nav {
        position: absolute;
        z-index: 1;
        flex-direction: column;
        top: -400px;
        right: 0px;
        padding: 10px;
        width: 100%;


    }

    .navegacao {
        top: 60px;
        background-color: var(--base);
        width: 100%;
        height: calc(100vh - 60px);

    }

    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 25vh;
    }

    nav ul li {
        margin: 0px 0px 30px 0px;
        padding: 0px 20px;
    }

    .menu {
        display: flex;
        align-items: center;
    }

    .abrir {
        color: var(--dourado);
    }

    .sobre {
        grid-template-columns: 1fr;
        text-align: center;

    }
    .sobre img{
        width: 100%;
        margin-top: 20px;
    }

    .cards{
        display: grid;
        grid-template-columns: 1fr;
        
        
    }
    .cards .card:nth-child(n+2){
        margin-top: 30%;
    }

   
}
@media (max-width: 300px) {
    .inicio h2 {
        margin-bottom: 20px;
        font-size: var(--texto-medio);
      
    }
    
    .inicio h3 {
        margin-bottom: 20px;
        font-size: large;
    }
    
    .inicio button {
        border: 2px solid var(--dourado);
        padding: 10px;
        margin-bottom: 10px;
    }

}